@import "../../styles/vars";

.header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    background-color: $app-white-color;
    height: 60px;
    position: fixed;
    text-align: center;
    z-index: 3; 

    .container {
        margin: 0 auto;
        max-width: $app-max-width;
        width: 100%;

        .header__left {
            .logo {
                text-decoration: none;
                font-size: 22px;
                color: $app-black-color;
                cursor: pointer;
            }
        }

        .header__right {
            .profile {
                .profile__btn {
                    background-color: $app-white-color;
                    box-shadow: none;
                    display: flex;
                    align-items: center;
                    padding: 5px 15px;
                    font-weight: bold;
                    border: none;
                    outline: none;
    
                    .profile__icon {
                        background-color: $app-blue-color;
                        border-radius: 100px;
                        cursor: pointer;
                        color: $app-white-color;
                        font-weight: bold;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        padding: 12px;
                    }
                }

                .profile__btn::after {
                    content: none;
                }
    
                .profile__btn:hover {
                    opacity: 0.9;
                }

                .profile__menu {
                    display: none;
                }
            
                .profile__menu.active {
                    width: 150px;
                    display: inline-block;
                    background-color: $app-white-color;
                    border-radius: 5px;
                    padding: 12px 0;
                    margin-top: 10px;
                    text-align: left;
                    position: absolute;
                    z-index: 9999;
                    box-shadow: $app-shadow;

                    .profile__actions {    
                        width: 100%;

                        .profile__item {
                            padding: 13px 0;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }
                        
                        .profile__item:hover {
                            background-color: $app-hover-color;
                        }
                        
                        .profile__item:active {
                            background-color: $app-background-color;
                            color: $app-black-color;
                        }
                        
                        .profile__icon {
                            font-size: 20px;
                            font-weight: bold;
                            margin: 0 7px 0 15px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes show-dropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}