@import "../../styles/vars";

.header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    background-color: $app-white-color;
    height: 60px;
    position: fixed;
    z-index: 3; 

    .container {
        margin: 0 auto;
        max-width: $app-max-width;
        width: 100%;

        .header__left {
            .logo {
                text-decoration: none;
                font-size: 22px;
                color: $app-black-color;
                cursor: pointer;
            }
        }

        .header__right {
            .profile {
                .profile__btn {
                    background-color: $app-white-color;
                    display: flex;
                    align-items: center;
    
                    .profile__icon {
                        background-color: $app-blue-color;
                        border-radius: 100px;
                        cursor: pointer;
                        color: $app-white-color;
                        font-weight: bold;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        padding: 12px;
                    }
                }
    
                .profile__btn:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 15px;
    }
}