@import "../../styles/vars";

.channels {
    padding-top: 10px;

    .channel {
        margin-bottom: 15px;
        background-color: $app-white-color;
        border-radius: $app-radius;
        padding: 15px 20px;
        box-shadow: $app-shadow;

        .channel__data {
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;

            .channel__main__data {
                display: inline-flex;
                align-items: center;
    
                .channel__photo {
                    border-radius: 100px;
                }
        
                .channel__info {
                    margin-left: 10px;
        
                    .channel__title {
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        color: $app-black-color;
                        text-decoration: none;
                    }

                    .channel__title:hover {
                        opacity: 0.7;
                    }
        
                    .channel__description {
                        font-size: 13px;
                        margin-top: 2px;
                        color: gray
                    }
                }
            }
    
            .channel__statistic {
                margin-right: 10px;
    
                p {
                    margin: 3px 0;
                    color: gray;
                    font-size: 13px;
                }
            }
        }

        .channel__actions {
            margin-top: 10px;
            display: flex;

            .action__item {
                display: flex;
                align-items: center;
                padding: 8px 9px;
                border-radius: $app-radius;
                margin-right: 10px;
                background-color: $app-background-color;

                .action__icon {
                    font-size: 17px;
                }
            }

            .action__item:hover {
                background-color: $app-grey-color;
            }

            .delete:hover {
                background-color: red;
                color: $app-white-color;
            }

            .disable {
                opacity: 0.5;
            }

            .disable:hover {
                background-color: $app-background-color;
                color: $app-black-color;
            }

            .status {
                display: flex;
                align-items: center;
                margin-left: 5px;

                .status__launch {
                    font-size: 22px;
                    color: rgb(18, 145, 18);
                }

                .status__text {
                    margin-left: 6px;
                    font-size: 13px;
                    color: gray
                }
            }
        }
    }

    .channel:hover {
        -webkit-animation: hover-channel .5s forwards;
    }
}

@keyframes hover-channel {
    0% {
        box-shadow: $app-shadow;
    }
    100% {
        box-shadow: $app-shadow-hover;
    }
}