@import "../../styles/vars";

.folders {
    margin-top: 15px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;

    .folder {
        border: none;
        border-radius: 10px;
        text-align: center;
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: block;
    
        .folder__icon {
            font-size: 50px;
            margin-top: 7px;
            color: $app-grey-color;
        }
        
        .folder__name {
            font-size: 16px;
            word-wrap: break-word; 
            padding: 0px 5px;
            color: #000;
            cursor: pointer;
        }
    }
    
    .folder:hover {
        background-color: $app-white-color;
        overflow: visible;
    }
}