@import "../../../styles/vars";

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    -webkit-animation: show-modal .2s forwards;
    z-index: 3;

    .modal__content {
        padding: 15px;
        padding-bottom: 5px;
        background-color: $app-white-color;
        border-radius: $app-radius;
        min-width: 250px;
        box-shadow: $app-shadow;

        .head {
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .close {
                font-size: 25px;
            }
        }
    }
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes show-modal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}