@import "../../styles/vars";

.form__input {
    margin: 15px 0 0 0;

    Input {
        width: 87%;
    }

    Button, Input, Textarea, Select {
        margin-bottom: 10px;
    }

    .button__clean {
        background-color: red;
        display: inline-block;
        padding: 10px 15px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: $app-radius;
        margin-left: 5px;
        color: $app-white-color;
    }

    .button__clean:hover {
        opacity: 0.6;
    }

    .launch__actions {
        width: 300px;

        Button {
            margin: 5px;

            .action__item {
                display: flex;
                align-items: center;
    
                .action__icon {
                    font-size: 19px;
                    margin-right: 2px;
                }
            }
        }
    }
}

.form__confirm {
    margin: 15px 0 10px 0;
    text-align: center;

    .confirm__title {
        font-size: 17px;
    }

    .actions {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;

        .button__cancel {
            background-color: red;
            display: inline-block;
            padding: 11px 15px;
            font-size: 15px;
            font-weight: bold;
            border: none;
            border-radius: $app-radius;
            margin-left: 5px;
            color: $app-white-color;
        }
    
        .button__cancel:hover {
            opacity: 0.6;
        }
    }
}

.form__account {
    margin: 15px 0 10px 0;

    .title {
        font-size: 15px;
        margin: 5px 0;
    }

    .name__account {
        margin-bottom: 10px;

        Input {
            width: 90%;
        }
    }

    .interval {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .generate {
            background: rgb(50, 189, 147);
            border-radius: $app-radius;
            border: none;
            padding: 10px 12px;
            margin-left: 10px;
            float: left;    

            .generate__icon {
                font-size: 18px;
                color: #fff;
                display: flex;
            }
        }
    }

    Select {
        margin-bottom: 10px;
    }

    .error {
        font-size: 13px;
        margin-bottom: 10px;
        color: red;
    }
}

.form__settings {
    margin: 15px 0 10px 0;

    .title {
        font-size: 15px;
        margin: 5px 0;
    }

    Input {
        margin-bottom: 10px;
    }
}

.form__channel {
    margin: 15px 0 10px 0;
    max-width: 260px;

    .title {
        font-size: 15px;
        margin: 5px 0;
    }

    .comment {
        background-color: $app-background-color;
        border: 1px solid $app-background-color;
        border-radius: $app-radius;
        font-size: 1rem;
        padding: 10px 12px;
        outline: none;
        height: 100px;
        min-height: 50px;
        max-height: 200px;
        width: 235px;
        font-family: $app-font-family;
        resize: vertical;
    }

    .comment:hover {
        background-color: #e7e7e7;
    }

    Input {
        width: 230px;
        margin-bottom: 10px;
    }

    .error {
        font-size: 13px;
        margin-bottom: 10px;
        color: red;
    }
}

.form__add__channel {
    margin: 15px 0 5px 0;
    width: 300px;

    .title {
        font-size: 15px;
        margin: 5px 0 7px 0;
    }

    Input {
        width: 89%;
        margin-bottom: 10px;
    }

    .choose__file {
        position: relative;
	    display: inline-block;
        margin-bottom: 10px;

        .choose__file__name {
            padding: 0 10px;
            line-height: 38px;
            text-align: left;
            height: 40px;
            display: block;
            font-size: 14px;
            float: left;
            box-sizing: border-box;
            width: 220px;
            border-radius: 10px 0px 0 10px;
            border: 1px solid #ddd;
        }

        .choose__file__title {
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
            color: rgb(255 255 255);
            border-radius: 0 10px 10px 0;
            background-color: #419152;
            line-height: 22px;
            height: 40px;
            padding: 10px;
            box-sizing: border-box;
            border: none;
            transition: background-color 0.2s;
        }

        .choose__file__title:hover {
            opacity: 0.8;
        }

        input[type=file] {
            position: absolute;
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
        }
    }

    .error {
        font-size: 13px;
        margin-bottom: 10px;
        color: red;
    }
}