@import "../../../styles/vars.scss";

.Txtr {
    background-color: $app-background-color;
    border: 1px solid $app-background-color;
    border-radius: $app-radius;
    font-size: 1rem;
    padding: 7px 10px;
    outline: none;
    min-height: 50px;
    max-height: 500px;
    min-width: 250px;
    max-width: 500px;
    resize: vertical;
    font-family: $app-font-family;
}

.Txtr:hover, .Txtr:focus {
    background-color: #e7e7e7;
}