@import "../../styles/vars";

.accounts {
    margin-top: 10px;

    .alert {
        background-color: $app-white-color;
        box-shadow: $app-shadow;
        border-radius: $app-radius;
        padding: 12px 15px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .account__link {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            cursor: pointer;
        }

        .account__link:hover {
            opacity: 0.6;
        }

        .actions {
            float: right;
            display: flex;
            align-items: center;

            .actions__status {
                float: right;

                .status__launch {
                    color: rgb(81, 133, 211);
                    float: right;
                    padding-top: 5px;
                    font-weight: bold;
                    font-size: 20px;
                    margin-left: 10px;
                }

                .status__block {
                    float: left;
                    padding-top: 5px;
                    font-weight: bold;
                    font-size: 20px;
                }

                .no__block {
                    color: rgb(62, 207, 118);
                    font-size: 22px;
                }

                .info__block {
                    color: rgb(81, 133, 211);
                }
            }

            .delete {
                background-color: red;
                border-radius: $app-radius;
                border: none;
                padding: 7px 10px;
                margin-left: 10px;
                float: left;

                .delete__icon {
                    font-size: 18px;
                    color: #fff;
                }
            }

            .delete:hover {
                opacity: 0.6;
            }
        }
    }

    .alert:hover {
        box-shadow: $app-shadow-hover;
    }
}