.header__account {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header__account__body {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
}

.header__account__body .again {
    color: #dedede;
    font-size: 25px;
    font-weight: bold;
    margin-top: 4px;
}

.header__account__body .title {
    color: #dedede;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 0px 20px;
}

.settings-accounts {
    margin: 0 auto;
    margin-top: 60px;
    width: 380px;
    padding: 10px 25px 25px 25px;
    border-radius: 10px;
    background-color: #4b4b4b;
}

.settings-accounts .title {
    margin: 15px 0px -3px 0px;
    font-weight: bold;
}

.settings-accounts Input {
    width: 100%;
}

.settings-accounts .interval {
    display: flex;
    align-items: center;
}

.interval Button {
    background: rgb(50, 189, 147);
    color: #dedede;
    display: block;
    margin-left: 10px;
}

@media (max-width: 479px) {
    .settings-accounts {
        width: 330px;
    }
}