.header__folder {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header__folder__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.path__item {
    display: inline;
}

.path__item-link {
    text-decoration: none;
    color: #dedede;
    font-weight: bold;
    font-size: 22px;
}

.path__item-link:hover {
    color: #dedede;
    opacity: 0.8;
}

.path__item b {
    font-size: 22px;
    padding: 0px 10px;
}

.count__accounts {
    padding-top: 5px;
}

.count__accounts h6 {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

.menu {
    margin-top: 10px;
}

.menu .delete {
    float: left;
}

.menu Button {
    margin: 5px;
}

.accounts {
    margin-top: 10px;
}

.alert {
    background-color: #dedede;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 12px;
    width: 100%;
}

.alert .account__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.alert .account__link:hover {
    color: rgb(63, 63, 63);
}

.alert .actions {
    float: right;
    margin-top: -5px;
}

.actions .btn-delete {
    border-radius: 10px;
    padding: 4px 11px;
    margin-right: 10px;
}

.actions__status {
    float: right;
}

.actions__status .status-launch {
    color: rgb(81, 133, 211);
    float: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.actions__status .status-block {
    float: left;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.actions__status .no-block {
    color: rgb(62, 207, 118);
}

.actions__status .info-block {
    color: rgb(81, 133, 211);
}

.actions__status .info-block:hover::before {
    content: attr(unblocking);
    font-size: 18px;
    color: #000;
    padding-right: 5px;
}

.actions__parsing {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}

.actions__create {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}

.actions__create Input, .actions__parsing Input {
    width: 150px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    margin: 0 5px;
}

.launch__btns {
    max-width: 310px;
}

.launch__btns Button {
    margin: 5px;
}

.form-create-account Input {
    margin: 6px 0;
}

.form-create-account Button {
    margin-top: 5px;
}

@media (max-width: 479px) {
    .header__folder__body {
        text-align: center;
        display:inline-block
    }

    .alert {
        display: inline-block;
    }
}