.login {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 330px;
}

.form-login {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #474747;
}

.form-input-auth {
    margin: 7px 0;
}

.form-input-auth Input {
    margin: 6px 0;
}