.services {
    width: 100%;
}

.services__list {
    padding: 20px 0px 0px 0px;
}

.services__list-item {
    width: 200px;
    height: 110px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
}

.services__list-item:hover {
    background-color: rgb(100, 100, 100);
}

.services__list-item__title {
    color: #fff;
    font-size: 17px;
}

@media (max-width: 991px) {
    .services__list {
        padding: 20px 0px 0px 15px;
    }
}