.Btn {
    padding: 7px 15px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    background: #dedede;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.Btn:hover {
    opacity: 0.9;
}