@import "./vars";

.channels {
    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    
        Button {
            margin: 5px;
    
            .action__item {
                display: flex;
                align-items: center;
    
                .action__icon {
                    font-size: 17px;
                    margin-right: 8px;
                }
            }
        }

        .filter {
            margin-right: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .filter__arrow {
                margin-left: 7px;
            }
        }
    }
    
    .notification {
        text-align: center;
        margin-top: 100px;
        color: #9e9e9e;
    }
}