$app-background-color: #f2f2f2;
$app-white-color: #fff;
$app-black-color: #000;
$app-blue-color: #1e2d43;
$app-hover-color: #f8f8f8;
$app-red-color: rgb(231, 65, 65);
$app-grey-color: grey;
$app-shadow: 0 3px 10px 0 rgba(116,116,116,.25);
$app-radius: 10px;
$app-max-width: 795px;
$app-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;